* {                               /* RESET-------------*/
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;

}

/*MAIN ------------------------------------------------------------------------MAIN */
html, body {
  line-height: 1.7em;
  background-color:#caffbf;
}

a {
  color:greenyellow;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/*-UTLITIES --------------------------------------------------------------------UTILITIES */
.container {
  margin: auto;
  max-width: 1200px;
  overflow: auto;
  padding: 0 20px;
}

.highlight {
 color: #ff9b85;
 font-family: 'Zilla Slab Highlight', cursive;
}

.highlight2 {
  color: #caffbf;
  font-family: 'Zilla Slab Highlight', cursive;
 }

.highlight-title {
 color: #ff9b85;
 font-family: 'Allura', cursive;
 font-size: 70px;
 margin: 80px 50px 50px 50px;
}

.cursive {
  font-family: 'Allura', cursive;
}

.archi {
  font-family: 'Architects Daughter', cursive;
  color: #f566a3;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.clr {
  clear: both;
}

.bg-primary {
  background: #f566a3;
  color: #caffbf;
}

/* NAVBAR ---------------------------------------------------------------------- NAVBAR */
nav {
  font-size: 2rem;
}
.nav-list{
  display: flex;
  justify-content: flex-end;
  padding: 0 2rem;
  
}
.nav-list li{
  cursor: pointer;
  padding: 0.5rem;
  text-align: center;
}
.nav-list a {
  color: #ff9b85;
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 20px;
}
.nav-list li:hover {
  background-color: #f566a3;
  color: white;
}
.logo a{
  color: red;
  font-weight: 1000;
}

.logo img{
  width: 20px;
}

.nav-item:first-child{
  margin-right: auto;
}


/* ----------------------- HERO ------------ */

#hero {
  background: url('../images/BG-Snow.jpg') no-repeat center center/cover;
  height: 95vh;

}

#hero .hero-content {
  color: #f566a3;
  text-align: center;
  padding-top: 70px;
}

#hero .hero-content h1 {
  font-size: 150px;
  line-height: 1em;
  font-family: 'Allura', cursive;
  color: #ff9b85;
}

#hero .hero-content p {
  padding: 20px;
  line-height: 1.7em;
  font-size: 30px;
}

#hero .hero-image img {
  display: block;
  margin: auto;
  width: 200px;
  border-radius: 50%;
  border: 10px solid #ff9b85;;
}


/* ABOUT ----------------------------------------- ABOUT */

#about-her {
  max-width: 1000px;
  margin: 0 auto 50px auto;
  
}


#about-her p {
  font-family: 'Architects Daughter', cursive;
  padding: 10px 20px;
  font-size: 25px;
  color: #f566a3;
  line-height: 1.5em;
  text-align: center;
}

/* Pomegranate -------------------------------------------------Pomegranate */

#pomegranate {
  height: 100vh; 
  background: url(../images/pomegranate.jpg) no-repeat center center/cover;  
}

#pomegranate .pomegranate-content {
  opacity: 0.8;
  line-height: 7rem;
}

#pomegranate h2 {
  color: #caffbf;
  margin: 50px;
}

#pomegranate p {
  font-size: 50px;
  text-align: center;
}

/* WORK ----------------------------------------------------------------------- WORK */

.work-1 {
  border: 2px solid white;
  width: 200px;
  display: flex;
  flex-grow: 1;
}

.text-info {
  background: url(../images/JohnLewis.jpg) no-repeat center center/cover ;
  width: 200px;
  height: 200px;
  text-align: center;
  /* padding-top: 50px; */
  font-size: 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-around; */
  

}

.text-info {
  font-size: 20px;
}

.work-1-title,
.work-1-date {
  font-size: 0;
}

.work-1-title:hover,
.work-1-date:hover {
  font-size: 20px;
  color: white;
}

.text-info:hover {
  background:#ff9b85;
  width: 200px;
  height: 200px;
  text-align: center;
  /* padding-top: 50px; */
}



/* .work-1 {
  background: #f4f4f4;
  border: #ccc solid 2px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  width: 100px;
}
.work-1 h3 {
  width: 200px;
} */



/* @media ------------------------------------------------------------------- @meda */

@media (max-width: 500px) {
  #pomegranate .pomegranate-content {
    line-height: 4rem;
  }
  #hero .hero-content h1 {
    font-size: 7rem;
  }
  .nav-list {
    flex-direction: column;
  }
  .nav-list li {
    border-top: 1px dotted;
  }
}

@media (min-width: 501px) and (max-width: 800px) {
  #pomegranate .pomegranate-content {
    line-height: 4.5rem;
  }
  .nav-list {
    flex-direction: column;
  }
  .nav-list li{
    border-top: 1px dotted;
    
  }

  #hero .hero-content h1 {
    font-size: 8rem;
  }
}